DB_URL=jdbc:postgresql://postgres:5432/camel_dwarf_racing
DB_USERNAME=postgres
DB_PASSWORD=postgres
POSTGRES_DB=camel_dwarf_racing
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin1234
KEYCLOAK_PORT=8180